body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5e6d3; /* scratch page tan */
  color: #1f2937;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111827;
  padding: 15px 25px;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}


h1 {
  text-align: center;
  color: #3b2f2f;
}

h2 {
  color: #5a3e2b;
}


.section {
  background-color: #fff8f0;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  max-width: 900px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


img {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  max-width: 100%;
}


p {
  text-align: center;
  color: #374151;
}